:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-any-link:focus {
  outline: none;
}

ul {
  margin-bottom: 0;
}

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
}


// Button radius
//
//$btn-border-radius-base:         0;
//$btn-border-radius-large:        0;
//$btn-border-radius-small:        0;
//

// Input radius
$input-border-radius:            0;
$input-border-radius-large:      0;
$input-border-radius-small:      0;

// FORM CONTROL GLOW
textarea:focus,
input:focus,
.uneditable-input:focus {
  border-color: $brand-primary;
  // IE6-9

  box-shadow: none;
  outline: 0;
}
